@import "./mixins";
@import "./animations";

.container {
    max-width: $maxWidth;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    @include font(24px);
}

.subtitle {
    font-size: 3rem;
}

.text {
    font-size: 2rem;
    line-height: 2.4rem;

    span {
        color: var(--green-text);
    }

    &--big {
        font-size: 2.4rem;
    }
    &-align-center {
        text-align: center !important;
    }
}

.gray-block {
    padding: 2rem;
    background: var(--bg-gray-block);
    border-radius: 1rem;
}

// btns
button {
    background: none;
    border: none;
    padding: 0 0 0 5px;
    color: var(--links-color);
}
.btn {
    background: none;
    border: 2px solid var(--green-text);
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 0.5em 1em;
    color: var(--white);

    transition: 0.3s;
    &:hover {
        background: var(--green-text);
    }
}

//form
.form {
    &__textarea,
    &__name {
        background: var(--neu-bg);
        box-shadow: inset -5px -5px 10px rgba(57, 66, 83, 0.25), inset 5px 5px 10px #2c3341;
        border-radius: 12px;
        color: var(--neu-text);
        font-size: 1.8rem;
        padding: 0.45rem;
        transition: box-shadow 0.3s;

        &.error {
            border-color: var(--error);

            &:focus {
                border: 2px solid var(--error--focus);
            }
        }

        &:focus {
            box-shadow: inset -5px -5px 10px rgba(57, 66, 83, 0.25), inset 2px 2px 5px var(--green);
        }
        &::placeholder {
            font-size: 1.8rem;
            color: var(--neu-text);
        }
    }

    &__textarea {
        resize: none;
        width: 100%;
        height: auto;
        min-height: 160px;
        margin: 10px 0;
    }
    &__footer {
        display: flex;
        gap: 0 20px;
    }

    &__submit,
    &__name {
        flex: 0 0 calc(50% - 10px);
    }

    &__submit {
        max-width: 140px;
        margin-left: auto;
        font-size: 1.4rem;
        font-weight: bold;
        background: linear-gradient(331.93deg, #1d222e 11.88%, #293140 85.18%);
        border: 2px solid rgba(29, 34, 46, 0.1);
        box-shadow: -10px -10px 20px rgba(57, 66, 83, 0.35), 10px 10px 20px rgba(24, 28, 39, 0.35);
        color: var(--neu-text);

        &:focus {
            background: linear-gradient(137.81deg, #1d222e 21.35%, #293140 106.56%);
            border: 3px solid rgba(41, 49, 64, 0.65);
            box-shadow: -5px -5px 10px rgba(72, 80, 99, 0.1), 5px 5px 10px rgba(24, 28, 39, 0.35),
                inset -2px -2px 4px rgba(72, 80, 99, 0.35), inset 5px 5px 5px #1d222e;
            color: var(--white);
        }
    }

    @include phones {
        &__footer {
            flex-direction: column;
        }
        &__submit,
        &__name {
            flex: 0 0 100%;
        }
        &__submit {
            padding: 0.45rem 0;
            margin-top: 5px;
            width: 300px;
        }
    }
}

// tags
.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 1rem 1rem 2rem;

    &__item {
        display: flex;
        align-items: center;
        background: var(--white);
        color: var(--bg-case);
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--bg-case);
            display: block;
            margin-right: 0.5rem;
        }
    }
}

// helpers
.mt-20 {
    margin-top: 20px !important;
}

// poppers
#popper-content {
    padding: 1rem;
    background: var(--neu-bg--transp90);
    box-shadow: var(--neu-bs);
    color: var(--white);
    border-radius: 2.5rem;
    font-size: 1.6rem;
    max-width: 30rem;
    z-index: var(--z-popup);

    .green-text {
        color: var(--green);
        font-weight: 700;
    }
}

// fade transition
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.fade-top-enter-active,
.fade-top-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-top-enter, .fade-top-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}

@import "./components/tabs";
@import "./components/calc";
