.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        cursor: pointer;
        padding: .6rem;
        font-size: 2.4rem;
        border: 2px solid var(--green--light);
        border-radius: 10px;
        color: var(--white--light_2);

        &:not(:first-child) {
            margin-left: 10px;
        }

        &.active {
            color: var(--white);
            border-color: var(--green);
        }
    }
}